/* resetting page
*{
    margin:0;
    padding:0;
}
*/
body {
    background-color: #f4f4f4;
     color: #555555;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 16px;
     font-weight: normal;
     /* same as above  */
     font: 16px Arial, Helvetica, sans-serif;
     line-height: 1.6em;
     margin: 0;
}
.clr{
    clear: both;
}
.container {
    width: 80%;
    margin: auto;
}
.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 35px;
}
.button:hover{
    background: white;
    color: black;
}
.box-1 {
    background-color: #333;
    color: #fff;

    border-right: 5px red solid;
    border-top: 5px yellow solid;
    border-bottom: 5px blue solid;
    border-left: 5px purple solid;
    border-bottom-width: 20px;
    border-right-style:dotted ;
    /* same as above with one color 
    border: 5px red solid; 
    border-width: 3px;
    */

    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    /*
    same as above

    padding: 20px;
    */

    margin-top: 20px;

    /* or */
    margin: 20px 0;

}

.box-1 h1 {
    font-family: sans;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: deeppink 3px dotted;
    padding: 20px;
    margin: 20px 0;
}

.categories {
    border: 1px solid rgb(255, 0, 136);
    padding: 10px;
    border-radius: 35px;
}

.categories h2 {
    text-align: center;
}

.categories ul {
    /* padding: 0; */
    list-style: circle;

}
 
/* change links properties and behaviour and colour */

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: red;
}

a:active {
    color: green;
}

a:visited {
    color: maroon
}

/* tagetting the links */
.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../images/check.png');
}

.my-form {
    padding: 20px;
}
.my-form .form-group {
    padding: 15px;
}
.my-form label {
    display: block;
}
/* all in a container */
/* .my-form input{
    padding: 8px;
    width: 100%;
} */
.my-form input[type="text"] {
    padding: 8px;
    width: 100%;
}
.my-form input[type="email"] {
    padding: 8px;
    width: 100%;
}

.my-form textarea {
    padding: 8px;
    width: 100%;
}
.block{
    float: left;
    width: 33.3%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
#main-block{
    float: left;
    width:70% ;
    padding: 15px;
    box-sizing: border-box;
}
#sidebar{
    float: right;
    width: 30%;
    background-color: #333;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.p-box{
    margin-top: 30px;
    width: 800px;
    height: 500px;
    border: 1px black solid;
    /* this below put everything in the box */
    position: relative;
    background-repeat: no-repeat;
    background-image: url('../images/trip.JPG');
    background-position: 800px 500px;
    background-position: center center;
}
.p-box h1{
    top: 40px;
    left: 200px;
    position: absolute;
}
.p-box h2{
    position: absolute;
    bottom: 40px;
    right: 100px;
}

.fix-me{
    position: fixed;
    top: 500px;
}
.my-list li:first-child{
    background: red;
}
.my-list li:last-child{
    background: blue;
}
.my-list li:nth-child(3){
    background: purple;
}
.my-list li:nth-child(even){
    background: grey;
}


